:root {
  --b0: #191724;
  --b1: #1f1d2e;
  --b2: #26233a;
  --b3: #555169;
  --b4: #6e6a86;
  --b5: #e0def4;
  --b6: #f0f0f3;
  --b7: #c5c3ce;
  --b8: #e2e1e7;
  --b9: #eb6f92;
  --bA: #f6c177;
  --bB: #ebbcba;
  --bC: #31748f;
  --bD: #9ccfd8;
  --bE: #c4a7e7;
  --bF: #e5e5e5;
}
